<div class="container">
  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of dataa">
        <td>{{group.name}}</td>
        <td>{{group.email}}</td>
        <td>{{group.website}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th><input type="text" placeholder="Pesquisar nome" name="search-nome" /></th>
        <th><input type="text" placeholder="Pesquisar e-mail" name="search-email" /></th>
        <th><input type="text" placeholder="Pesquisar website" name="search-website" /></th>
      </tr>
    </tfoot>
  </table>
</div>