<div class="container">
  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of dataa">
        <td>{{group.name}}</td>
        <td>{{group.email}}</td>
        <td>{{group.website}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th><input type="text" placeholder="Search ID" name="search-id" /></th>
        <th><input type="text" placeholder="Search first name" name="search-first-name" /></th>
        <th><input type="text" placeholder="Search last name" name="search-last-name" /></th>
      </tr>
    </tfoot>
  </table>
</div>